@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>客户选择</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="name" name="客户姓名" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="mobile" name="手机号" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="certNo" name="证件号码" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="PopupCustomerDlg.custSearch()"/>
                                <#button name="重置" icon="fa-trash" clickFun="PopupCustomerDlg.resetCustSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="CustomerTableToolbar" role="group">
                            <#button name="确定" icon="fa-plus" clickFun="PopupCustomerDlg.setCustomer()"/>
                        </div>
                        <#table id="PopupCustomerTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/customer/popup_customer_info.js"></script>
@}
