@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="loanInfoForm">

            <input type="hidden" id="id" value="">
            <input type="hidden" id="statusValue" value="">

            <div class="row">
                <div class="col-sm-4">

                    <#select id="orgNo" name="公司" underline="false">
                        <option value=""></option>
                        @for(dict in userown.getOrgList()){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>

                    <#select id="productNo" name="产品" underline="false">
                        <option value=""></option>
                        @for(dict in constant.getDicts('公司')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>

                    <#input id="productName" name="产品" underline="false"
                        hidden="productNo" readonly="readonly"
                        clickFun="LoanDlg.showMenuSelectTree(); return false;"
                        style="background-color: #ffffff !important;"
                        selectFlag="true" selectId="productTreeDiv" selectTreeId="productTree" selectStyle="width:244px !important;"/>

                    <#input id="contrNo" name="合同编号" underline="false"/>

                    <#select id="custNo" name="客户" underline="false">
                        <option value=""></option>
                        @for(dict in constant.getDicts('公司')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>

                    <#input id="acctDate" name="业务日期" underline="false"/>

                    <#input id="beginDate" name="借款开始日期" underline="false"/>

                    <#input id="endDate" name="借款结束日期" underline="false"/>

                    <#input id="lendingAcct" name="放款账户" underline="false"/>

                </div>
                <div class="col-sm-4">
                    <#select id="loanType" name="贷款类型" underline="false">
                        <option value=""></option>
                        @for(dict in constant.getDicts('贷款类型')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>

                    <#input id="rate" name="利率" underline="false"/>

                    <#input id="serviceFeeScale" name="服务费比例" underline="false"/>

                    <#select id="serviceFeeType" name="服务费收取方式" underline="false">
                        <option value=""></option>
                        @for(dict in constant.getDicts('服务费收取方式')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>

                    <#select id="repayType" name="还款方式" underline="false">
                        <option value=""></option>
                        @for(dict in constant.getDicts('还款方式')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>

                    <#select id="isPen" name="是否罚息" underline="false">
                        <option value=""></option>
                        @for(dict in constant.getDicts('是否')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>

                    <#input id="penRate" name="罚息利率" underline="false"/>

                    <#select id="penNumber" name="罚息基数" underline="false">
                        <option value=""></option>
                        @for(dict in constant.getDicts('罚息基数')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>
                </div>
                <div class="col-sm-4">

                    <#input id="externalAcct" name="收款账户" underline="false"/>

                    <#input id="ddDate" name="约定还款日" underline="false"/>

                    <#input id="prin" name="本金" underline="false"/>

                    <#input id="serviceFee" name="服务费" underline="false"/>

                    <#input id="receiveBigint" name="应收利息" underline="false"/>

                    <#input id="termNo" name="期数" underline="false"/>

                    <#input id="lendingDate" name="放款日期" underline="false"/>

                    <#input id="lendingAmt" name="放款金额" underline="false"/>

                </div>
            </div>
            <div class="row" >
                <div class="col-sm-11">
                <#textarea id="remark" name="备注" underline="false" rows="3"  cols="50"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="LoanDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LoanDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/loan/loan_info.js"></script>
@}
