@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="accountInfoForm">

            <input type="hidden" id="id" value="${account.id}">
            <input type="hidden" id="acctTypeValue" value="${account.acctType}">
            <input type="hidden" id="balanceTypeValue" value="${account.balanceType}">
            <input type="hidden" id="statusValue" value="${account.status}">

            <input type="hidden" id="acctType" value="${account.acctType}">
            <input type="hidden" id="status" value="${account.status}">

            <div class="row">
                <div class="col-sm-6">

                    <#input id="custNo" name="用户编号" readonly="true" underline="false" value="${account.custNo}" />

                    <#input id="name" name="账户名称" underline="false" value="${account.name}" />

                    <#input id="availableBalance" readonly="true" name="可用余额" underline="false" value="${account.availableBalance}" />

                    <#input id="freezeBalance" readonly="true" name="冻结余额" underline="false" value="${account.freezeBalance}" />


                </div>
                <div class="col-sm-6">
                    <#select id="balanceType" name="余额性质" underline="false" >
                        @for(dict in constant.getDicts('余额性质')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>

                    @/*
                    <#select id="acctType" name="账户类型" underline="false" >
                        @for(dict in constant.getDicts('账户类型')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>

                    <#select id="status" name="账户状态" underline="false" >
                        @for(dict in constant.getDicts('账户状态')){
                        <option value="${dict.num}">${dict.name}</option>
                        @}
                    </#select>
                    @*/

                    <#input id="acctTypeName" name="账户类型" readonly="true" underline="false" value="${account.acctTypeName}" />
                    <#input id="statusName" name="账户状态" readonly="true" underline="false" value="${account.statusName}" />

                </div>
            </div>

            <div class="row" >
                <div class="col-sm-9">
                    <#textarea id="remark" name="备注" underline="false" rows="3"  cols="50" value="${account.remark}"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AccountDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AccountDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/account/account_info.js"></script>
@}
