@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>账户选择</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">

                        <input type="hidden" id="acctTypeValue" value="${acctType}">

                        <div class="row">
                            <div class="col-sm-3">
                                <#SelectCon id="acctType" name="账户类型" underline="false">
                                    <option value=""></option>
                                    @for(dict in constant.getDicts('账户类型')){
                                    <option value="${dict.num}">${dict.name}</option>
                                    @}
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="custName" name="客户姓名" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="custMobile" name="手机号" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="custCertNo" name="证件号码" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" align="right">
                                <#button name="搜索" icon="fa-search" clickFun="PopupAccountDlg.accountSearch()"/>
                                <#button name="重置" icon="fa-trash" clickFun="PopupAccountDlg.resetAccountSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="CustomerTableToolbar" role="group">
                            <#button name="确定" icon="fa-plus" clickFun="PopupAccountDlg.setAccount()"/>
                        </div>
                        <#table id="PopupAccountTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/account/popup_account_info.js"></script>
@}
