@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>收支管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#SelectCon id="orgNo" name="公司" underline="false">
                                    <option value=""></option>
                                    @for(dict in userown.getOrgList()){
                                    <option value="${dict.num}">${dict.name}</option>
                                    @}
                                </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="type" name="用途" underline="false">
                                    <option value=""></option>
                                    @for(dict in constant.getDicts('转账用途')){
                                    <option value="${dict.num}">${dict.name}</option>
                                    @}
                                </#SelectCon>
                            </div>

                            <div class="col-sm-2">
                            <#NameCon id="inAcctName" name="入账账户" underline="false" readonly="readonly" hidden="inAcctNo"
                                clickFun="Transfer.openInAccountList(); return false;"
                            />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="outAcctName" name="出账账户" underline="false" readonly="readonly" hidden="outAcctNo"
                                    clickFun="Transfer.openOutAccountList(); return false;"
                                />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="queryBeginDate" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="queryEndDate" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" align="right">
                                <#button name="搜索" icon="fa-search" clickFun="Transfer.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="Transfer.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="TransferTableToolbar" role="group">
                            @if(shiro.hasPermission("/transfer/add")){
                            <#button name="添加" icon="fa-plus" clickFun="Transfer.openAdd()"/>
                            @}
                            @if(shiro.hasPermission("/transfer/update")){
                            <#button name="修改" icon="fa-edit" clickFun="Transfer.openDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/transfer/delete")){
                            <#button name="删除" icon="fa-remove" clickFun="Transfer.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/transfer/confirm")){
                            <#button name="确认" icon="fa-forward" clickFun="Transfer.confirm()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/transfer/cancel")){
                            <#button name="撤销" icon="fa-recycle" clickFun="Transfer.cancel()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/transfer/print")){
                            <#button name="打印" icon="fa-print" clickFun="Transfer.openPrint()" space="true"/>
                            @}
                        </div>
                        <#table id="TransferTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/transfer/transfer.js"></script>
@}


